*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: rgb(248, 248, 231);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 80px;
    height: 300vh;
}

header{
    padding: 20px 80px;
    height: 450px;
    width: 100%;
    background-image: url("coffee.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 90%;
}

nav{
    height: 50px;
    display: flex;
}

.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: 28px;
    width: 20%;
}

.headers{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listing{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    height: 100%;
}

.listing li a{
    color: white;
    text-decoration: none;
}

.listing li a:hover{
    color: rgb(148, 146, 146);
    cursor: pointer;
    border-bottom: 3px solid white;
}

.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 120px;
    width: 20%;
}

.searchBar i{
    color: white;
    font-size: 32px;
}

.text{
    height: 200px;
    width: 500px;
    margin: 100px 100px;
    color: white;
}

.text h2{
    font-size: 32px;
    color: black;
}

.text p{
    margin: 5px 0px;
    font-size: 36px;
    color: rgb(234, 234, 234);
}

.text p span{
    margin: 5px 0px;
    font-size: 36px;
    color: black;
}

.orderNow{
    height: 40px;
    width: 110px;
    border-radius: 30px;
    border: none;
    font-size: 12px;
    background-color: beige;
}

.orderNow:hover{
    cursor: pointer;
    background-color: black;
    color: beige;
    animation-delay: 1000ms;
}

.typesOfCoffee{
    display: flex;
    height: 100px;
    width: 60%;
    gap: 120px;
    align-items: center;
    background: transparent;
    margin: 25px 0px 25px -100px;
    padding-left: 120px;
    color: rgb(124, 124, 124);
}

.types{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}
.types i{
    font-size: 72px;
}

menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 900px;
    width: 100%;
    border: 1px solid black;
    padding: 20px 0px;
}
